{
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.cts", "*.html"],
      "options": {
        "printWidth": 100,
        "singleQuote": true
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
